body{
    background-color: rgba(220, 153, 220, 0.899);
    color: rgba(66, 3, 59, 0.832);
    margin: 5px;
    padding: 2px;
}
header,
footer {
 text-align: center;
 background-color: rgb(238, 105, 211);
}